
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="#">SWAPI</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" (click)="chooseOption('home')"  href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="chooseOption('browse')" href="#">Browse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="chooseOption('search')" href="#">Search</a>
      </li>
    </ul>
  </div>
</nav>
<div class="d-flex justify-content-center bg-secondary" style="height:700px;">
  <div class="card" style="width:500px;margin-top:100px;height:500px">
    <div class="card-body">
      <div *ngIf="option === 'home'">
        <h3>Star Wars Search </h3>
        <span>Choose do you want to</span>
        <button type="button" class="btn btn-warning" (click)="chooseOption('search')"> search </button> 
        or 
        <button type="button" class="btn btn-warning" (click)="chooseOption('browse')"> browse</button> star wars library  
      </div>
      <div *ngIf="option === 'search'">
        <app-search></app-search>
      </div>
      <div *ngIf="option === 'browse'">
        <app-browse></app-browse>        
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>