<div class="d-flex justify-content-center">
    <div class="card">
        <div *ngIf="startCardIsShown">
                <h4 class="card-text">Choose what do you want to see:</h4>
                <button type="button" class="btn btn-outline-warning mr-2 btn-sm" (click)="showRootInfo('people')">
                    People
                </button>
                <button type="button" class="btn btn-outline-warning mr-2 btn-sm" (click)="showRootInfo('vehicles')">
                    Vehicles
                </button>
                <button type="button" class="btn btn-outline-warning mr-2 btn-sm" (click)="showRootInfo('starships')">
                    Staships
                </button>
                <button type="button" class="btn btn-outline-warning mr-2 btn-sm" (click)="showRootInfo('films')">
                    Films
                </button>
                <button type="button" class="btn btn-outline-warning mr-2 btn-sm" (click)="showRootInfo('planets')">
                    Planets
                </button>
                <button type="button" class="btn btn-outline-warning mr-2 btn-sm" (click)="showRootInfo('species')">
                    Species
                </button>
            </div>    
            <div *ngIf="!simpleResult">
                <div *ngIf="filmsAreShown">
                    <button class="btn btn-warning" (click)="goToBrowse()">go to browsing</button>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                        <th scope="col">Nr</th>
                        <th scope="col">Title</th>
                        <th scope="col">Episode nr</th>
                        <th scope="col">Release date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let film of films; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                            {{ film.title }}
                        </td>
                        <td>{{ film.episode_id }}</td>
                        <td>{{ film.release_date}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
    
                <div *ngIf="peopleAreShown">
                    <button class="btn btn-warning" (click)="goToBrowse()">go to browsing</button>
                    <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nr</th>
                        <th scope="col">Name</th>
                        <th scope="col">Birth year</th>
                        <th scope="col">Release date</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let person of people; index as i" >
                    <tr (click)="goToDetails(i)">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                        {{ person.name }}
                        </td>
                        <td>{{ person.birth_year }}</td>
                        <td>{{ person.homeworld}}</td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <div *ngIf="vehiclesAreShown">
                    <button class="btn btn-warning" (click)="goToBrowse()">go to browsing</button>
                    <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nr</th>
                        <th scope="col">Name</th>
                        <th scope="col">Model</th>
                        <th scope="col">Passengers</th>
                        <th scope="col">Length</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let vehicle of vehicles; index as i" >
                    <tr (click)="goToDetails(i)">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                        {{ vehicle.name }}
                        </td>
                        <td>{{ vehicle.model }}</td>
                        <td>{{ vehicle.passengers}}</td>
                        <td>{{ vehicle.length}}</td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <div *ngIf="planetsAreShown">
                    <button class="btn btn-warning" (click)="goToBrowse()">go to browsing</button>
                    <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nr</th>
                        <th scope="col">Name</th>
                        <th scope="col">Population</th>
                        <th scope="col">Terrain</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let planet of planets; index as i" >
                    <tr (click)="goToDetails(i)">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                        {{ planet.name }}
                        </td>
                        <td>{{ planet.population }}</td>
                        <td>{{ planet.terrain}}</td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <div *ngIf="speciesAreShown">
                    <button class="btn btn-warning" (click)="goToBrowse()">go to browsing</button>
                    <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nr</th>
                        <th scope="col">Name</th>
                        <th scope="col">Classification</th>
                        <th scope="col">Average height</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let specie of species; index as i" >
                    <tr (click)="goToDetails(i)">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                        {{ specie.name }}
                        </td>
                        <td>{{ specie.classification }}</td>
                        <td>{{ specie.average_height}}</td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <div *ngIf="starshipsAreShown">
                    <button class="btn btn-warning" (click)="goToBrowse()">go to browsing</button>
                    <table class="table table-striped">
                    <thead> 
                    <tr>
                        <th scope="col">Nr</th>
                        <th scope="col">Name</th>
                        <th scope="col">Length</th>
                        <th scope="col">Passengers</th>
                        <th scope="col">Class</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let starship of starships; index as i" >
                    <tr (click)="goToDetails(i)">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                        {{ starship.name }}
                        </td>
                        <td>{{ starship.length }}</td>
                        <td>{{ starship.passengers}}</td>
                        <td>{{starship.starship_class}}</td>
                    </tr>
                    </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="simpleResult">
                <app-result simple="simple" type="type"></app-result> 
                <!--- child komponent, który miał wyświetlać pojedyńczy wynik -->
            </div>
    </div>
</div>