<div class="d-flex justify-content-center">
 

<div class="card">
  <ngb-alert *ngIf="showAlert" [type]="alert.type" >{{ alert.message }}</ngb-alert>
    <div class="card-body">
        <div class="search">
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <h3>Set what to search and type: </h3>
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-group btn-outline-warning btn-sm" (click)="addCategoryToSearching('films')">Film</button>
                    <button type="button" class="btn btn-group btn-outline-warning btn-sm" (click)="addCategoryToSearching('people')">Person</button>
                    <button type="button" class="btn btn-group btn-outline-warning btn-sm" (click)="addCategoryToSearching('starships')" >Starship</button>
                    <button type="button" class="btn btn-group btn-outline-warning btn-sm" (click)="addCategoryToSearching('planets')">Planet</button>
                    <button type="button" class="btn btn-group btn-outline-warning btn-sm" (click)="addCategoryToSearching('species')" >Species</button>
                    <button type="button" class="btn btn-group btn-outline-warning btn-sm" (click)="addCategoryToSearching('vehicles')" >Vehicle</button>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control has-search" [(ngModel)]="search" placeholder="Search">
                    <button type="button" class="btn btn-warning mr-2" (click)="searchString()">search</button>
                </div>
            </div>        
        </div>
        <div *ngIf = "results.length !== 0  && !simpleResult" class="results">
            <div *ngIf="filmsAreShown">
                <table class="table table-striped">
                    <thead>
                    <tr>
                    <th scope="col">Nr</th>
                    <th scope="col">Title</th>
                    <th scope="col">Episode nr</th>
                    <th scope="col">Release date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let film of films; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                        {{ film.title }}
                    </td>
                    <td>{{ film.episode_id }}</td>
                    <td>{{ film.release_date}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="peopleAreShown">
                <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nr</th>
                    <th scope="col">Name</th>
                    <th scope="col">Birth year</th>
                    <th scope="col">Release date</th>
                </tr>
                </thead>
                <tbody *ngFor="let person of people; index as i" >
                <tr (click)="goToDetails(i)">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                    {{ person.name }}
                    </td>
                    <td>{{ person.birth_year }}</td>
                    <td>{{ person.homeworld}}</td>
                </tr>
                </tbody>
                </table>
            </div>
            <div *ngIf="vehiclesAreShown">
                <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nr</th>
                    <th scope="col">Name</th>
                    <th scope="col">Model</th>
                    <th scope="col">Passengers</th>
                    <th scope="col">Length</th>
                </tr>
                </thead>
                <tbody *ngFor="let vehicle of vehicles; index as i" >
                <tr (click)="goToDetails(i)">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                    {{ vehicle.name }}
                    </td>
                    <td>{{ vehicle.model }}</td>
                    <td>{{ vehicle.passengers}}</td>
                    <td>{{ vehicle.length}}</td>
                </tr>
                </tbody>
                </table>
            </div>
            <div *ngIf="planetsAreShown">
                <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nr</th>
                    <th scope="col">Name</th>
                    <th scope="col">Population</th>
                    <th scope="col">Terrain</th>
                </tr>
                </thead>
                <tbody *ngFor="let planet of planets; index as i" >
                <tr (click)="goToDetails(i)">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                    {{ planet.name }}
                    </td>
                    <td>{{ planet.population }}</td>
                    <td>{{ planet.terrain}}</td>
                </tr>
                </tbody>
                </table>
            </div>
            <div *ngIf="speciesAreShown">
                <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nr</th>
                    <th scope="col">Name</th>
                    <th scope="col">Classification</th>
                    <th scope="col">Average height</th>
                </tr>
                </thead>
                <tbody *ngFor="let specie of species; index as i" >
                <tr (click)="goToDetails(i)">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                    {{ specie.name }}
                    </td>
                    <td>{{ specie.classification }}</td>
                    <td>{{ specie.average_height}}</td>
                </tr>
                </tbody>
                </table>
            </div>
            <div *ngIf="starshipsAreShown">
                <table class="table table-striped">
                <thead> 
                <tr>
                    <th scope="col">Nr</th>
                    <th scope="col">Name</th>
                    <th scope="col">Length</th>
                    <th scope="col">Passengers</th>
                    <th scope="col">Class</th>
                </tr>
                </thead>
                <tbody *ngFor="let starship of starships; index as i" >
                <tr (click)="goToDetails(i)">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                    {{ starship.name }}
                    </td>
                    <td>{{ starship.length }}</td>
                    <td>{{ starship.passengers}}</td>
                    <td>{{starship.starship_class}}</td>
                </tr>
                </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="nothingIsShown">
            <span> Sorry, no results! </span>
        </div>
        <div *ngIf="simpleResult">
            <app-result simple="simple" type="type"></app-result> 
            <!--- child komponent, który miał wyświetlać pojedyńczy wynik -->
        </div>

    </div>
</div>
</div>