
.has-search .form-control {
  width: 100%
}
.btn-group {
  margin-left: 7px;
}


.form-group {
  width: 90%;
  position: relative;

  input {
    margin-bottom: 5px;
  }

  button {
    transform: translateX(215%);
    }
}

