<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-body" *ngIf="type === 'species'">
            <ul *ngFor="let e of simple">
                <li>{{e.average_height}}</li>
                <li>{{e.average_lifespan}}</li>
                <li>{{e.classification}}</li>
                <li>{{e.created}}</li>
                <li>{{e.designation}}</li>
                <li>{{e.edited}}</li>
                <li>{{e.eye_colors}}</li>
                <li>e.films<li>
                <li>{{e.hair_colors}}</li>
                <li>{{e.homeworld}}</li>
                <li>{{e.language}} </li>
                <li>{{e.name}}</li>
                <li>{{e.people}}</li>
                <li>{{e.skin_colors}}</li>
                <li>{{e.url}}</li>
            </ul>
        </div>
        <div class="card-body" *ngIf="type === 'planets'">
            <ul *ngFor="let e of simple">
                <li>{{e.climate}} </li>
                <li>{{e.created}}</li>
                <li>{{e.diameter}}</li>
                <li>{{e.edited}}</li>
                <li>{{e.films}}</li>
                <li>{{e.gravity}}</li>
                <li>{{e.name}}</li>
                <li>{{e.orbital_period}}</li>
                <li>{{e.population}}</li>
                <li>{{e.residents}}</li>
                <li>{{e.rotation_period}}</li>
                <li>{{e.surface_water}}</li>
                <li>{{e.terrain}}</li>
                <li>{{e.url}}</li>
            </ul>
        </div>
        <div class="card-body" *ngIf="type === 'people'">
            <ul *ngFor="let e of simple">
                <li>{{e.birth_year}}</li>
                <li>{{e.created}}</li>
                <li>{{e.edited}}</li>
                <li>{{e.eye_color}}</li>
                <li>{{e.films}}</li>
                <li>{{e.gender}}</li>
                <li>{{e.hair_color}}</li>
                <li>{{e.height}}</li>
                <li>{{e.homeworld}}</li>
                <li>{{e.mass}}</li>
                <li>{{e.name}}</li>
                <li>{{e.skin_color}}</li>
                <li>{{e.species}}</li>
                <li>{{e.starships}}</li>
                <li>{{e.url}}</li>
                <li>{{e.vehicles}}</li>
            </ul>
        </div>
        <div class="card-body" *ngIf="type === 'vehicles'">
            <ul *ngFor="let e of simple">
                <li>{{e.cargo_capacity }}</li>
                <li>{{e.consumables }}</li>
                <li>{{e.cost_in_credits}}</li>
                <li>{{e.created}}</li>
                <li>{{e.crew}}</li>
                <li>{{e.edited}}</li>
                <li>{{e.films}}</li>
                <li>{{e.length}}</li>
                <li>{{e.manufacturer}}</li>
                <li>{{e.max_atmosphering_speed}}</li>
                <li>{{e.model}}</li>
                <li>{{e.name}}</li>
                <li>{{e.passengers}}</li>
                <li>{{e.pilots}}</li>
                <li>{{e.url}}</li>
                <li>{{e.vehicle_class}}</li>
            </ul>
        </div>
        <div class="card-body" *ngIf="type === 'starships'">
            <ul *ngFor="let e of simple">
                <li>{{e.MGLT}} </li>
                <li>{{e.cargo_capacity}}</li>
                <li>{{e.consumables}}</li>
                <li>{{e.cost_in_credits}}</li>
                <li>{{e.created}}</li>
                <li>{{e.crew}}</li>
                <li>{{e.edited}}</li>
                <li> {{e.films}}</li>
                <li>{{e.hyperdrive_rating}}</li>
                <li>{{e.length}}</li>
                <li>{{e.manufacturer}}</li>
                <li>{{e.max_atmosphering_speed}}</li>
                <li>{{e.model}}</li>
                <li>{{e.name}}</li>
                <li>{{e.passengers}}</li>
                <li>{{e.pilots}}</li>
                <li>{{e.starship_class}}</li>
                <li>{{e.url}}</li>
            </ul>
        </div>
        <div class="card-body" *ngIf="type === 'films'">
            <ul *ngFor="let e of simple">
                <li>{{e.title}} </li>
                <li>{{e.episode_id}}</li>
                <li>{{e.opening_crawl}}</li>
                <li>{{e.characters}} </li>
                <li>{{e.director}} </li>
                <li>{{e.created}} </li>
                <li>{{e.planets}} </li>
                <li>{{e.producer}} </li>
                <li>{{e.species}} </li>
                <li>{{e.starships}} </li>
                <li>{{e.url}} </li>
                <li>{{e.vehicles}} </li>
                <li>{{e.release_date}} </li>
            </ul>
        </div>
    </div>
</div>
